<div class="error-page">
  <div class="error-page__content">
    <p class="error-page__code"> {{ code }} </p>
    <p class="error-page__text"> {{ text }} </p>
    {{> Link page="LoginPage" text="Назад к чатам"}}
  </div>
</div>
