<div class="profile-page">
    <div class="profile-page__avatar">{{> Avatar photo=''}}</div>
    <div class="profile-page__content">
        {{> ProfileField title='Почта' value='pochta@yandex.ru'}}
        {{> ProfileField title='Логин' value='ivanovi' }}
        {{> ProfileField title='Имя' value='Иван' }}
        {{> ProfileField title='Фамилия' value='Иванов' }}
        {{> ProfileField title='Имя в чате' value='Иван' }}
        {{> ProfileField title='Телефон' value='+7(909)9673030' }}
    </div>
    <div class='profile-page__footer'>
        {{> Link className='--align-left' href='/editprofile' text='Изменить данные'}}
        {{> Link className='--align-left' href='/editpassword' text='Изменить пароль'}}
        {{> Link className='--align-left' href='/chat' text='Выйти' type='exit'}}
    </div>
</div>