{{> ButtonBack page='chat'}}
<div class="profile-page">
    <div class="profile-page__avatar">{{> Avatar photo=''}}</div>
    <div class="profile-page__content">
        {{> ProfileField title='Старый пароль' edit='Иванов' type="password" }}
        {{> ProfileField title='Новый пароль' edit='Иван' type="password"}}
        {{> ProfileField title='Повторите новый пароль' edit='+7 (909) 967 30 30' type="password"}}
    </div>
    <div class='profile-page__footer'>
        {{> Button text="Сохранить" page="editprofile"}}
    </div>
</div>
